@model IEnumerable<Car>

    <h1 class="text-5xl py-8 text-center font-bold tracking-wider bg-gradient-to-r from-sky-500 to-indigo-500 mb-6">SHOWROOM</h1>
    <div class="grid grid-cols-3 gap-6 gap-y-12 max-w-[1500px] mx-auto p-8">
        @foreach (var car in Model)
        {
            <div class="flex items-center justify-center">
                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg shadow-gray-600 dark:bg-gray-800 dark:border-gray-700">
                    <a asp-action="Details" asp-route-carId="@car.Id">
                        <img class="p-4 rounded-t-lg aspect-[4/3] object-center object-cover" src="@car.ImageUrl" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">

                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">@car.AdTitle</h5>
                        <p class="text-gray-500 dark:text-gray-400">@car.AdDescription</p>

                        <div class="flex items-center justify-between mt-4">
                            <span class="text-2xl font-bold text-gray-900 dark:text-white">@car.SalePrice.ToString("c")</span>
                            <a asp-action="Details" asp-route-carId="@car.Id" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                    Details
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


